.gradle/4.6/fileHashes/fileHashes.bin
.gradle/4.6/fileHashes/fileHashes.lock
.gradle/4.6/javaCompile/classAnalysis.bin
.gradle/4.6/javaCompile/javaCompile.lock
.gradle/4.6/taskHistory/taskHistory.bin
.gradle/4.6/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
app/build/intermediates/transforms/dexBuilder/debug/204.jar
app/build/intermediates/transforms/dexBuilder/debug/205.jar
app/build/intermediates/transforms/dexBuilder/debug/206.jar
app/build/intermediates/transforms/dexBuilder/debug/207.jar
app/build/intermediates/transforms/dexBuilder/debug/211.jar
app/build/intermediates/transforms/dexBuilder/debug/212/android/arch/lifecycle/R.dex
app/build/intermediates/transforms/dexBuilder/debug/212/com/android/tools/ir/dummy/slice_0.dex
app/build/intermediates/transforms/dexBuilder/debug/213/android/arch/lifecycle/livedata/core/R.dex
app/build/intermediates/transforms/dexBuilder/debug/213/com/android/tools/ir/dummy/slice_1.dex
app/build/intermediates/transforms/dexBuilder/debug/214/com/android/tools/ir/dummy/slice_2.dex
app/build/intermediates/transforms/dexBuilder/debug/215/android/support/fragment/R$attr.dex
app/build/intermediates/transforms/dexBuilder/debug/215/android/support/fragment/R$bool.dex
app/build/intermediates/transforms/dexBuilder/debug/215/android/support/fragment/R$color.dex
app/build/intermediates/transforms/dexBuilder/debug/215/android/support/fragment/R$dimen.dex
app/build/intermediates/transforms/dexBuilder/debug/215/android/support/fragment/R$drawable.dex
app/build/intermediates/transforms/dexBuilder/debug/215/android/support/fragment/R$id.dex
app/build/intermediates/transforms/dexBuilder/debug/215/android/support/fragment/R$integer.dex
app/build/intermediates/transforms/dexBuilder/debug/215/android/support/fragment/R$layout.dex
app/build/intermediates/transforms/dexBuilder/debug/215/android/support/fragment/R$string.dex
app/build/intermediates/transforms/dexBuilder/debug/215/android/support/fragment/R$style.dex
app/build/intermediates/transforms/dexBuilder/debug/215/android/support/fragment/R$styleable.dex
app/build/intermediates/transforms/dexBuilder/debug/215/android/support/fragment/R.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/android/tools/ir/dummy/slice_3.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/BuildConfig.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/MainActivity.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R$anim.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R$attr.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R$bool.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R$color.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R$dimen.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R$drawable.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R$id.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R$integer.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R$layout.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R$menu.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R$string.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R$style.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R$styleable.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/R.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/SampleAlarmReceiver.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/SampleBootReceiver.dex
app/build/intermediates/transforms/dexBuilder/debug/215/com/example/android/scheduler/SampleSchedulingService.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/coreui/R$attr.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/coreui/R$bool.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/coreui/R$color.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/coreui/R$dimen.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/coreui/R$drawable.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/coreui/R$id.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/coreui/R$integer.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/coreui/R$layout.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/coreui/R$string.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/coreui/R$style.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/coreui/R$styleable.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/coreui/R.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/v7/appcompat/R$anim.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/v7/appcompat/R$attr.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/v7/appcompat/R$bool.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/v7/appcompat/R$color.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/v7/appcompat/R$dimen.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/v7/appcompat/R$drawable.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/v7/appcompat/R$id.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/v7/appcompat/R$integer.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/v7/appcompat/R$layout.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/v7/appcompat/R$string.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/v7/appcompat/R$style.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/v7/appcompat/R$styleable.dex
app/build/intermediates/transforms/dexBuilder/debug/216/android/support/v7/appcompat/R.dex
app/build/intermediates/transforms/dexBuilder/debug/216/com/android/tools/ir/dummy/slice_4.dex
app/build/intermediates/transforms/dexBuilder/debug/217/android/arch/core/R.dex
app/build/intermediates/transforms/dexBuilder/debug/217/android/support/coreutils/R$attr.dex
app/build/intermediates/transforms/dexBuilder/debug/217/android/support/coreutils/R$bool.dex
app/build/intermediates/transforms/dexBuilder/debug/217/android/support/coreutils/R$color.dex
app/build/intermediates/transforms/dexBuilder/debug/217/android/support/coreutils/R$dimen.dex
app/build/intermediates/transforms/dexBuilder/debug/217/android/support/coreutils/R$drawable.dex
app/build/intermediates/transforms/dexBuilder/debug/217/android/support/coreutils/R$id.dex
app/build/intermediates/transforms/dexBuilder/debug/217/android/support/coreutils/R$integer.dex
app/build/intermediates/transforms/dexBuilder/debug/217/android/support/coreutils/R$layout.dex
app/build/intermediates/transforms/dexBuilder/debug/217/android/support/coreutils/R$string.dex
app/build/intermediates/transforms/dexBuilder/debug/217/android/support/coreutils/R$style.dex
app/build/intermediates/transforms/dexBuilder/debug/217/android/support/coreutils/R$styleable.dex
app/build/intermediates/transforms/dexBuilder/debug/217/android/support/coreutils/R.dex
app/build/intermediates/transforms/dexBuilder/debug/217/com/android/tools/ir/dummy/slice_5.dex
app/build/intermediates/transforms/dexBuilder/debug/218/com/android/tools/ir/dummy/slice_6.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/compat/R$attr.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/compat/R$bool.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/compat/R$color.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/compat/R$dimen.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/compat/R$drawable.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/compat/R$id.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/compat/R$integer.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/compat/R$layout.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/compat/R$string.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/compat/R$style.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/compat/R$styleable.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/compat/R.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/graphics/drawable/R$attr.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/graphics/drawable/R$bool.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/graphics/drawable/R$color.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/graphics/drawable/R$dimen.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/graphics/drawable/R$drawable.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/graphics/drawable/R$id.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/graphics/drawable/R$integer.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/graphics/drawable/R$layout.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/graphics/drawable/R$string.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/graphics/drawable/R$style.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/graphics/drawable/R$styleable.dex
app/build/intermediates/transforms/dexBuilder/debug/219/android/support/graphics/drawable/R.dex
app/build/intermediates/transforms/dexBuilder/debug/219/com/android/tools/ir/dummy/slice_7.dex
app/build/intermediates/transforms/dexBuilder/debug/220/com/android/tools/ir/dummy/slice_8.dex
app/build/intermediates/transforms/dexBuilder/debug/221/android/arch/lifecycle/viewmodel/R.dex
app/build/intermediates/transforms/dexBuilder/debug/221/android/support/graphics/drawable/animated/R$attr.dex
app/build/intermediates/transforms/dexBuilder/debug/221/android/support/graphics/drawable/animated/R$bool.dex
app/build/intermediates/transforms/dexBuilder/debug/221/android/support/graphics/drawable/animated/R$color.dex
app/build/intermediates/transforms/dexBuilder/debug/221/android/support/graphics/drawable/animated/R$dimen.dex
app/build/intermediates/transforms/dexBuilder/debug/221/android/support/graphics/drawable/animated/R$drawable.dex
app/build/intermediates/transforms/dexBuilder/debug/221/android/support/graphics/drawable/animated/R$id.dex
app/build/intermediates/transforms/dexBuilder/debug/221/android/support/graphics/drawable/animated/R$integer.dex
app/build/intermediates/transforms/dexBuilder/debug/221/android/support/graphics/drawable/animated/R$layout.dex
app/build/intermediates/transforms/dexBuilder/debug/221/android/support/graphics/drawable/animated/R$string.dex
app/build/intermediates/transforms/dexBuilder/debug/221/android/support/graphics/drawable/animated/R$style.dex
app/build/intermediates/transforms/dexBuilder/debug/221/android/support/graphics/drawable/animated/R$styleable.dex
app/build/intermediates/transforms/dexBuilder/debug/221/android/support/graphics/drawable/animated/R.dex
app/build/intermediates/transforms/dexBuilder/debug/221/com/android/tools/ir/dummy/slice_9.dex
app/build/intermediates/transforms/dexMerger/debug/127/classes.dex
app/build/intermediates/transforms/dexMerger/debug/128/classes.dex
app/build/intermediates/transforms/dexMerger/debug/129/classes.dex
app/build/intermediates/transforms/dexMerger/debug/130/classes.dex
app/build/intermediates/transforms/dexMerger/debug/131/classes.dex
app/build/intermediates/transforms/dexMerger/debug/132/classes.dex
app/build/intermediates/transforms/dexMerger/debug/133/classes.dex
app/build/intermediates/transforms/dexMerger/debug/134/classes.dex
app/build/intermediates/transforms/dexMerger/debug/135/classes.dex
app/build/intermediates/transforms/dexMerger/debug/136/classes.dex
app/build/intermediates/transforms/dexMerger/debug/137/classes.dex
app/build/intermediates/transforms/dexMerger/debug/138/classes.dex
app/build/intermediates/transforms/dexMerger/debug/139/classes.dex
app/build/intermediates/transforms/dexMerger/debug/140/classes.dex
app/build/intermediates/transforms/dexMerger/debug/141/classes.dex
app/build/intermediates/transforms/dexMerger/debug/142/classes.dex
